@import "layout/var";

.header {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  border-bottom: 4px solid $yellow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;

  @media (max-width: $sm) {
    padding: 10px 30px;
  }

  @media (max-width: $xs) {
    padding: 10px 15px;
    transition: 0.3s;
    align-items: flex-start;
    height: 68px;
    overflow: hidden;
  }

  &--opened_menu {
    @media (max-width: $xs) {
      height: 360px;
    }
  }

  &__logo {

  }

  &__menu {
    margin-left: 14%;

    @media (max-width: $md) {
      margin-left: 5%;
    }

    @media (max-width: $xs) {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 68px;
      left: 0;
      margin-left: 0;
      width: 100%;
      align-items: center;
      background: white;
      padding-bottom: 15px;
      transition: 0.3s;
      border-top: 4px solid $yellow;
    }
  }

  &__link {
    font-size: 16px;
    border-bottom: 2px solid transparent;
    color: black;
    margin-right: 30px;

    @media (max-width: $md) {
      margin-right: 15px;
    }

    @media (max-width: $sm) {
      font-size: 13px;
      margin-right: 10px;
    }

    @media (max-width: $xs) {
      font-size: 16px;
      margin-right: 0;
      margin-top: 15px;
    }

    &:hover {
      border-color: $yellow;
    }
  }

  &__phone {
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
    border-bottom: 2px solid transparent;

    @media (max-width: $sm) {
      font-size: 14px;
    }

    @media (max-width: $xs) {
      margin-right: 40px;
      margin-top: 13px;
    }

    &:hover {
      border-color: $yellow;
    }
  }

  &__mobile-menu {
    position: absolute;
    right: 0;
    top: 7px;
    padding: 15px;
    background: none;
    border: 0;
    display: none;

    @media (max-width: $xs) {
      display: block;
    }

    span {
      width: 25px;
      height: 2px;
      background: $yellow;
      display: block;
      margin: 4px 0;
    }
  }
}