@import "layout/var";

.prices {
  padding: 30px 0;

  .title {
    @media (max-width: $xs) {
      text-align: center;
    }
  }

  &__slider {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $xs) {
      padding-bottom: 30px;
    }
  }

  &__slide {
    @media (max-width: $sm) {
      width: calc(33% - 20px);
    }

    @media (max-width: $xs) {
      height: 380px;
    }
  }

  &__item {
    background: #FDFDFD;
    border: 5px solid rgba(242, 204, 82, 0.3);
    padding: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media (max-width: $sm) {
      width: 100%;
      padding: 15px;
    }

    @media (max-width: $xs) {

    }
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
  }

  &__num {
    font-size: 26px;
    background: $yellow;
    display: inline-block;
    padding: 2px 5px 8px;
    margin-top: 20px;
    align-self: flex-start;

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 19px;
    margin: 10px 0 20px;
  }

  &__button {
    margin-top: auto;

    @media (max-width: $sm) {
      width: 100%;
    }
  }

  .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 0;

    li {
      cursor: pointer;
      margin: 0 3px;

      button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        border: 1px solid $yellow;
        color: transparent;
        font-size: 0;
        cursor: pointer;
        transition: 0.3s;
      }

      &:hover, &.slick-active {
        button {
          background: $yellow;
        }
      }
    }
  }
}